#map-container {
  width: 100%;
  height: 75vh;
  position: relative;
  border: 8px solid white;
  border-bottom: 0;
  z-index: 9;
}

#map-container a {
  color: #404040;
  text-decoration: none;
}

#map-container a:hover {
  color: #101010;
}

#map-container .sidebar {
  width: 28%;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #0004;
  position: absolute;
  top: 0;
  z-index: 2;
  background: #eee;
}

#map-container .map {
  width: 100%;
  height: 100%;
}

#map-container .heading {
  background: #fff;
  border-bottom: 1px solid #999;
  height: 60px;
  line-height: 60px;
  padding: 0 5px;
}

#map-container .heading h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 2px;
  color: #999;
}

/* Marker tweaks */
#map-container .mapboxgl-popup-close-button {
  display: none;
}

#map-container .mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
  padding: 0;
  width: 180px;
}

#map-container .mapboxgl-popup-content h3 {
  background: #5D3FD3;
  color: #fff;
  margin: 0;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}

#map-container .mapboxgl-popup-content h4 {
  margin: 0;
  padding: 10px;
  font-weight: 400;
}

#map-container .mapboxgl-popup-content div {
  padding: 10px;
}

#map-container .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
  margin-top: 15px;
}

/* Custom Marker */

.marker {
  border: none;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background-image: url('../../assets/images/custom/marker-editor.svg');
}

.mapboxgl-popup {
  padding-bottom: 50px;
}

